wiki_film/wiki_film/__pycache__/__init__.cpython-38.pyc
wiki_film/wiki_film/__pycache__/__init__.cpython-39.pyc
wiki_film/wiki_film/__pycache__/items.cpython-39.pyc
wiki_film/wiki_film/__pycache__/settings.cpython-38.pyc
wiki_film/wiki_film/__pycache__/settings.cpython-39.pyc
wiki_film/wiki_film/spiders/__pycache__/__init__.cpython-38.pyc
wiki_film/wiki_film/spiders/__pycache__/__init__.cpython-39.pyc
wiki_film/wiki_film/spiders/__pycache__/get_film.cpython-38.pyc
wiki_film/wiki_film/spiders/__pycache__/get_film.cpython-39.pyc
